<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Votre candidature pour une place d'apprentissage</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
</head>

<body>
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td bgcolor="#f8f8f8" align="center" style="padding: 20px;" class="section-padding-bottom-image">
        <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
          <tr>
            <td>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333;" class="padding-copy">
                          {{titlePrefix}} du candidat : <br>
                            {{surname}} {{name}}
                        </td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">
                          <div>
                            <p>
                              Pour la profession : <br>
                              {{job}}
                            </p>
                            <p>
                              <a href="https://localhost/gest/#/application/{{id}}" target="_blank"
                              style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #e30713; border-top: 15px solid #e30713; border-bottom: 15px solid #e30713; border-left: 25px solid #e30713; border-right: 25px solid #e30713; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;"
                              class="mobile-button">Consulter la postulation</a>
                            </p>
                          </div>
                        </td>
                      </tr>
                        <tr>
                          <td align="center" valign="middle"
                            style="font-size: 12px; line-height: 18px; font-family: Helvetica, Arial, sans-serif; color:#666666;">
                            <span class="appleFooter" style="color:#666666;">Formation Apprentis EPFL</span><br>
                            <a class="original-only" href="mailto:formation.apprentis@epfl.ch"
                              style="color: #666666; text-decoration: none;">https://canap.epfl.ch/gest</a>
                            <span class="original-only"
                              style="font-family: Arial, sans-serif; font-size: 12px; color: #444444;">| Candidature numero : {{id}}</span>
                          </td>
                        </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
