<template>
  <v-container>
    <h1 style="text-align: center;">Paramètres</h1>
    <div></div>
    <v-layout row wrap>
      <v-flex xs12>
        <h2>E-mail</h2>
      </v-flex>
      <v-flex xs12 lg5 mb-3>
        <v-expansion-panel popout>
          <v-expansion-panel-content>
            <template v-slot:header>
              <div class="text-right">Modèle d'e-mail</div>
            </template>
            <v-card>
              <v-card-text>Vous retrouverez ci dessous la personnalisation d'email pour créer des messages professionnels et attrayants en quelques clics seulement.</v-card-text>
              <router-link to="/settings/email-templates">
                <v-btn color="primary">Gérer</v-btn>
              </router-link>
            </v-card>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-flex>
    </v-layout>
  </v-container>
</template>
