<template>
  <v-navigation-drawer class="secondary" id="main-drawer" clipped fixed permanent mini-variant app>
    <v-list>
      <v-tooltip right>
        <template v-slot:activator="{ on }">
          <v-list-tile @click="navigateTo('/')" v-on="on">
            <v-list-tile-action>
              <v-icon>dashboard</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </template>
        <span>Dashboard</span>
      </v-tooltip>
      <v-tooltip right>
        <template v-slot:activator="{ on }">
          <v-list-tile @click="navigateTo('/applications')" v-on="on">
            <v-list-tile-action>
              <v-badge overlap>
                <template v-slot:badge v-if="notificationValue > 0">
                  <span>{{notificationValue}}</span>
                </template>
                <v-icon>list</v-icon>
              </v-badge>
            </v-list-tile-action>
          </v-list-tile>
        </template>
        <span>Postulations</span>
      </v-tooltip>
      <v-tooltip right v-if="$store.getters['moduleUser/userIsResponsible']">
        <template v-slot:activator="{ on }">
          <v-list-tile @click="navigateTo('/openjobs')" v-on="on">
            <v-list-tile-action>
              <v-icon>work</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </template>
        <span>Places disponibles</span>
      </v-tooltip>
      <v-tooltip right v-if="$store.getters['moduleUser/userIsResponsible']">
        <template v-slot:activator="{ on }">
          <v-list-tile @click="navigateTo('/settings')" v-on="on">
            <v-list-tile-action>
              <v-icon>settings</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </template>
        <span>Paramètres</span>
      </v-tooltip>
      <!-- <v-tooltip right>
        <template v-slot:activator="{ on }" v-if="!$store.getters['moduleUser/userIsResponsible']">
          <v-list-tile @click="navigateTo('/favourites')" v-on="on">
            <v-list-tile-action>
              <v-icon>star</v-icon>
            </v-list-tile-action>
          </v-list-tile>
        </template>
        <span>Vos favoris</span>
      </v-tooltip>-->
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'main-drawer',
  computed: {
    notificationValue() { return this.$store.getters['moduleUser/userIsResponsible'] ? this.$store.getters['moduleApplications/getResponsibleNewApplications'].length : this.$store.getters['moduleApplications/getFormateurNewApplications'].length }
  },
  methods: {
    navigateTo(link) {
      this.$router.push(link)
    }
  }
}
</script>
