<template>
  <v-footer :inset="true" app class="secondary" id="main-footer">
    <span class="px-3" id="appVersion">&#9400; 2019 EPFL, tous droits réservés | version : 0.13.0</span>
  </v-footer>
</template>

<script>
export default {
  name: 'main-footer'
}
</script>
