<template>
  <v-toolbar :clipped-left="true" app fixed class="primary white--text" id="main-navbar">
    <img src="../../public/statics/epfl_logo.png" width="100" alt="epfl_logo">
    <v-toolbar-title>Canap-Gest</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-toolbar-items class="hidden-sm-and-down" v-if="isLoged">
      <v-btn
        flat
        class="white--text"
      >{{$store.state.moduleUser.userData.tequila.firstname}} {{$store.state.moduleUser.userData.tequila.name}}: {{$store.state.moduleUser.userData.role}}</v-btn>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn icon class="white--text" v-on="on">
            <v-icon @click="logout">logout</v-icon>
          </v-btn>
        </template>
        <span>Déconnexion</span>
      </v-tooltip>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
export default {
  name: 'main-navbar',
  computed: {
    isLoged() { return this.$store.getters['moduleUser/userIsLogedIn'] }
  },
  methods: {
    logout() { this.$store.dispatch('moduleUser/logout', true) }
  }
}
</script>