<template>
  <v-sheet class="d-flex" id="activities-data-sheet">
    <v-card>
      <v-card-title>
        <h4>Activités professionnelles <small v-if="$store.state.moduleApplications.currentApplication.application_data.pro_activities.length == 0"><i>(Pas de données)</i></small></h4>
      </v-card-title>
      <v-divider></v-divider>
      <v-list
        dense
        v-for="(activity, i) in $store.state.moduleApplications.currentApplication.application_data.pro_activities"
        :key="activity.professional_activity_id"
      >
        <v-subheader>Activité {{i + 1}}</v-subheader>
        <v-list-tile>
          <v-list-tile-content>
            <b>Entreprise</b>
          </v-list-tile-content>
          <v-list-tile-content class="align-end">{{ activity.professional_activity_company }}</v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-content>
            <b>Lieu</b>
          </v-list-tile-content>
          <v-list-tile-content class="align-end">{{ activity.professional_activity_location }}</v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-content>
            <b>Activité</b>
          </v-list-tile-content>
          <v-list-tile-content class="align-end">{{ activity.professional_activity_activity }}</v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-content>
            <b>Années</b>
          </v-list-tile-content>
          <v-list-tile-content class="align-end">{{ activity.professional_activity_years }}</v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
      </v-list>
    </v-card>
  </v-sheet>
</template>

<script>
export default {
  name: 'activities-data-sheet'
}
</script>
