<template>
  <v-sheet class="d-flex" id="trainings-data-sheet">
    <v-card>
      <v-card-title>
        <h4>Stages <small v-if="$store.state.moduleApplications.currentApplication.application_data.trainings.length == 0"><i>(Pas de données)</i></small></h4>
      </v-card-title>
      <v-divider></v-divider>
      <v-list
        dense
        v-for="(training, i) in $store.state.moduleApplications.currentApplication.application_data.trainings"
        :key="training.training_id"
      >
        <v-subheader>Stage {{i + 1}}</v-subheader>
        <v-list-tile>
          <v-list-tile-content>
            <b>Métier</b>
          </v-list-tile-content>
          <v-list-tile-content class="align-end">{{ training.training_job }}</v-list-tile-content>
        </v-list-tile>
        <v-list-tile>
          <v-list-tile-content>
            <b>Entreprise</b>
          </v-list-tile-content>
          <v-list-tile-content class="align-end">{{ training.training_company }}</v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
      </v-list>
    </v-card>
  </v-sheet>
</template>

<script>
export default {
  name: 'trainings-data-sheet'
}
</script>
