<template>
  <v-app id="app">
    <main-drawer/>
    <main-navbar/>
    <v-content>
      <v-container fluid>
        <alertSnackbar/>
        <router-view/>
      </v-container>
    </v-content>
    <main-footer/>
  </v-app>
</template>

<script>
import MainDrawer from '@/layouts/MainDrawer.vue'
import MainNavbar from '@/layouts/MainNavbar.vue'
import MainFooter from '@/layouts/MainFooter.vue'
import alertSnackbar from '@/components/alertSnackbar.vue'

export default {
  created () {
    let key = null
    if (location.hash !== '#/') {
      key = location.hash.replace('#/?key=', '')
      if (this.$store.getters['moduleUser/userIsLogedIn'] && location.hash.includes('?key=')) {
        this.$router.push('/')
      }
    }
    if (!this.$store.getters['moduleUser/userIsLogedIn']) {
      this.$store.dispatch('moduleUser/login', key)
    } else {
      this.$store.dispatch('moduleUser/getLastConnection')
    }
  },
  components: {
    MainDrawer,
    MainNavbar,
    MainFooter,
    alertSnackbar
  }
}
</script>