<template>
  <div id="alert-snackbar">
    <v-snackbar v-model="$store.state.moduleSnackbar.open" :top="true" :timeout="snackbarTimeout" :color="$store.state.moduleSnackbar.type" auto-height>
      {{$store.state.moduleSnackbar.message}}
    </v-snackbar>
  </div>
</template>

<script>
export default {
  name: 'alert-snackbar',
  computed: {
    snackbarTimeout() {
      if (this.$store.state.moduleSnackbar.timeout) {
        return this.$store.state.moduleSnackbar.timeout;
      } else {
        return 10000;
      }
    }
  }
}
</script>